.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formPageWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 30rem;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom:0;
  color:#282a36
}

.innerForm{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background:#eee;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn{
  background:#6b2649 ;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover{
  background:#7e1678;
}
.createNewBtn{
  color: #a0d42f;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.mainWrap{
  display: grid;
  /* grid-template-columns:  1fr 200px; */
  height: 100vh;
}

.aside{
  /* background:#e696a7 ;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column; */

  position: fixed;
  bottom: 20px; 
  right: 20px; 
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 2;
}

.asideInner{
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.br{
  color: #fff;
}

.leaveBtn{
  margin-top: 20px;
  background-color: #d33f3a;
}

.leaveBtn:hover{
  background: #cf2e28;
}
